# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: U.S. Data Federation
description: A website to collaborate and track progress on various data federation efforts
baseurl: ""
url: ""

# Build settings
markdown: kramdown

# Pages
collections:
  pages:
    output: true
    permalink: /:path/
  initiatives:
    output: true

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - vendor/bundle
