        <div id="main" class="main-content" role="main">
            
            <a class="skipnav" href="#main-content">Skip main navigation</a>

            <header role="banner">
                <div class="usa-disclaimer">
                    <div class="usa-grid">
                        <span class="usa-disclaimer-official"><img class="usa-flag_icon" alt="U.S. flag signifying that this is a United States federal government website" src="/assets/img/us_flag_small.png"> An early version of what will become an official website of the United States government</span> <span class="usa-disclaimer-stage">This site is currently in alpha.</span>
                    </div>
                </div>
                <section class="usa-banner">
                    <div class="usa-grid">

                        <div class="usa-banner-content" id="main-content">
                            <h1>
                                <span class="usa-label">U.S. </span>Data Federation
                            </h1>
                            <h2 class="usa-font-lead">
                               Beta 0.0.2
                            </h2>
                        </div>

                    </div>
                </section>
            </header>
