{% include head.html %}

{% include header.html %}

        <div id="main" class="main-content" role="main">            

            <section class="usa-banner">
                <div class="usa-grid">

                    <div class="usa-banner-content" id="main-content">
                        <h1>
                            The United States Data Federation is dedicated to making it easier to collect, combine, and exchange data across government. 
                        </h1>
                            <h2>
                                    The goal of the project is to document repeatable processes, develop reusable tooling, and curate resources to support any effort in which a common type of data is collected or exchanged across disparate organizational boundaries.
                            </h2>
                    </div>

                </div>
            </section>            

        <div class="usa-grid">
                {{ content }}
            </div>

{% include footer.html %}
